<mat-toolbar color="primary" class="mat-elevation-z8">

  <span><a class="brand" href="#"><mat-icon class="icon-style">language</mat-icon>BestBooks</a></span>

  <ng-container *ngIf="auth.isAuthenticated$ | async as user">
    <button class="ms-2" mat-button *ngIf="auth.user$ | async as user">Witaj {{ user.nickname }}!</button>
  </ng-container>

  <ng-template #loggedOut>
    <button id="login" class="ms-2 border" mat-button (click)="auth.loginWithRedirect()">Zaloguj się</button>
  </ng-template>

  <input [(ngModel)]="bookName" type="text" class="form-control ms-3 search-input" [placeholder]="['Nazwa książki ...']" (keyup.enter)="searchBook()">
  <button (click)="searchBook()" class="ms-3" mat-mini-fab style="background-color: #6c757d;"><mat-icon>search</mat-icon></button>

  <div class="space">
  </div>

  <a mat-button routerLink="/books" routerLinkActive="active-link">Książki</a>
  <a mat-button routerLink="/genre" routerLinkActive="active-link">Gatunki</a>

  <button mat-button [matMenuTriggerFor]="Actions" routerLink="/create" routerLinkActive="active-link">Zarządzanie</button>
  <mat-menu #Actions="matMenu" yPosition="below">
    <a class="menuLink" [href]="['/create/book']">
      <button mat-menu-item>Dodaj książkę</button>
    </a>
    <a class="menuLink" [href]="['create/genere']">
      <button mat-menu-item>Dodaj gatunek</button>
    </a>
  </mat-menu>

  <ng-container *ngIf="auth.isAuthenticated$ | async as user; else loggedOut">
    <button class="ms-2 border" mat-button (click)="auth.logout({ returnTo: document.location.origin })">Wyloguj się</button>
  </ng-container>

</mat-toolbar>
<router-outlet></router-outlet>
