.space {
  flex: 1 1 auto;
}

.active-link {
  background-color: brown;
}

a:hover {
  color: white;
}

button a:hover {
  color: black;
}

#login {
  animation: myAnim 5s linear 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
